<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
<!--

       &lt;!&ndash; redis 配置 &ndash;&gt;

       &lt;!&ndash; 加载redis配置文件 &ndash;&gt;
       <context:property-placeholder location="classpath:redis.properties"/>

       &lt;!&ndash; redis连接池的配置 &ndash;&gt;
       <bean id="jedisPoolConfig" class="redis.clients.jedis.JedisPoolConfig">
              <property name="maxActive" value="${redis.pool.maxActive}"/>
              <property name="maxIdle" value="${redis.pool.maxIdle}"/>
              &lt;!&ndash;<property name="minIdle" value="${redis.pool.minIdle}"/>&ndash;&gt;
              <property name="maxWait" value="${redis.pool.maxWait}"/>
              <property name="testOnBorrow" value="${redis.pool.testOnBorrow}"/>
              <property name="testOnReturn" value="${redis.pool.testOnReturn}"/>
       </bean>

       &lt;!&ndash; redis的连接池pool，不是必选项：timeout/password  &ndash;&gt;
       <bean id = "jedisPool" class="redis.clients.jedis.JedisPool" destroy-method="destroy">
              <constructor-arg index="0" ref="jedisPoolConfig"/>
              <constructor-arg index="1" value="${redis.host}"/>
              <constructor-arg index="2" value="${redis.port}" type="int"/>
              <constructor-arg index="3" value="${redis.timeout}" type="int"/>
              &lt;!&ndash;<constructor-arg index="4" value="${redis.password}"/>&ndash;&gt;
       </bean>
-->

</beans>