<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- spring 集成 QuartZ 2.x-->

    <!-- 线程执行器配置，用于任务注册 -->
    <bean id="executor" class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor">
        <property name="corePoolSize" value="10" />
        <property name="maxPoolSize" value="100" />
        <property name="queueCapacity" value="500" />
    </bean>

    <!-- 业务对象 -->
    <bean id="jobTask" class="com.xiayule.getll.toolkit.scheduling.impl.JobTaskImpl">
        <!--<property name="playService" ref="playService"/>-->
        <property name="subscriberService" ref="subscribeService"/>
        <property name="drawRequest" ref="drawRequest"/>
    </bean>


    <!-- 为朋友摇奖业务对象 -->
    <bean id="autoPlayForFriendJob" class="com.xiayule.getll.draw.job.impl.AutoPlayForFriendJob">
        <property name="playService" ref="playService"/>
        <property name="creditService" ref="creditService"/>
    </bean>

    <bean id="forFriendJobTask" class="com.xiayule.getll.toolkit.scheduling.impl.JobForFriendTaskImpl">
        <property name="subscriberService" ref="subscribeService"/>
        <property name="autoPlayJob" ref="autoPlayForFriendJob"/>
    </bean>

    <!-- Email 服务业务对象 -->
    <bean id="emailJob" class="com.xiayule.getll.toolkit.scheduling.impl.EmailJob">
        <property name="emailService" ref="emailService"/>
        <property name="subscriberService" ref="subscribeService"/>
    </bean>



    <!-- 调度业务 -->
    <bean id="jobDetail" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="jobTask" />
        <property name="targetMethod" value="doJob" />

        <!--对于相同的JobDetail，当指定多个Trigger时,
       很可能第一个job完成之前，第二个job就开始了。
       指定concurrent设为false，
       多个job不会并发运行，
       第二个job将不会在第一个job完成之前开始。-->

        <property name="concurrent" value="false"/>
    </bean>

    <bean id="playForFriendJobDetail" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="forFriendJobTask"/>
        <property name="targetMethod" value="doJob"/>


        <!--对于相同的JobDetail，当指定多个Trigger时,
        很可能第一个job完成之前，第二个job就开始了。
        指定concurrent设为false，
        多个job不会并发运行，
        第二个job将不会在第一个job完成之前开始。-->

        <property name="concurrent" value="false"/>
    </bean>

    <bean id="emailJobDetail" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="emailJob"/>
        <property name="targetMethod" value="doJob"/>


        <!--对于相同的JobDetail，当指定多个Trigger时,
        很可能第一个job完成之前，第二个job就开始了。
        指定concurrent设为false，
        多个job不会并发运行，
        第二个job将不会在第一个job完成之前开始。-->

        <property name="concurrent" value="false"/>
    </bean>

    <!-- 增加调度触发器 -->
    <!-- 1.8 以前的配置
    <bean id="cronTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
        <property name="jobDetail" ref="jobDetail" />
        &lt;!&ndash; 每天6点执行任务 &ndash;&gt;
        <property name="cronExpression" value="0 18 8 * * ?" />
    </bean>-->

    <!-- 2.x 的配置 -->
    <bean id="cronTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail" ref="jobDetail" />
        <!-- 每天6点执行任务 -->
        <property name="cronExpression" value="0 0 6 * * ?" />
    </bean>
    
    <bean id="forFriendCronTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail" ref="playForFriendJobDetail"/>
        <!-- 每天下午6 点执行任务 -->
        <property name="cronExpression" value="0 0 18 * * ?"/>
    </bean>

    <!-- 每天上午8点和晚上10点发送系统邮件 -->
    <bean id="emailCronTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail" ref="emailJobDetail"/>
        <!-- 每天下午6 点执行任务 -->
        <property name="cronExpression" value="0 0 8,22 * * ?"/>
    </bean>

    <!-- 设置调度 -->
    <bean lazy-init="false" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="triggers">
            <list>
                <ref bean="cronTrigger" />
                <ref bean="forFriendCronTrigger"/>
                <ref bean="emailCronTrigger"/>
            </list>
        </property>
        <property name="taskExecutor" ref="executor" />
    </bean>
</beans>