@charset "utf-8";

.hideme {display:none;}

html, body {
    height: 100%;
    padding: 0;
    margin: 0;
}

.functions {
    text-align:center;
    border-top:#a21212 solid 1px;
    border-bottom:#a21212 solid 1px;
    background-image: url(../image/top_2.jpg);
    background-repeat: repeat-x;
    background-position: center;
    background-color:#c51517;
    padding-top: 4px;
    padding-bottom: 4px;
}

.button {
    padding: 1px 3px;
    margin-right: 20px;;
    height: 30px;
    background: #d32410;
    color: blanchedalmond;
}


/** 返回顶部CSS **/
.gotop {
    position: fixed;
    bottom: 90px;
    right: 50px;
    top: auto;
    display: none;
    cursor: pointer;
    z-index: 999;
}

.footer {
    position: absolute;
    width: 100%;
    /*height: 80px;*/
    /*margin-top: 50px;*/
    padding-top: 20px;
    /*padding-bottom: 20px;*/
    text-align: center;
    padding-bottom: 20px;
}

.form-area {
    /*set center*/
    margin: 0 auto 20px;
    float: none;
    padding: 40px 29px 45px;
    background-color: #FFFFFF;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

.form-area .form-title {
    font-size: 40px;
    margin-bottom: 30px;
    font-weight: bolder;
    font-weight: 100;
    line-height: 1.4;
    text-align: center;
}

.rednum{color:#c31516;}

.pos_right {float: right;}

.grayfont{font-size:0.8em; color:#898989; padding-left:30px;}

.smallfont{font-size:0.8em;}
